h1 {
	color: red;
	text-align: center;
	font-family: "Helvetica"
}
p {
	text-align: center;
	font-family: "Helvetica"
}
html{
	background-color: yellow;
}
ul {
	
	margin-right: 0;
	margin-left: 0;
	padding-left: 35rem;
	padding-right: 35rem;

}
a {
	text-align: center;
	padding-left: 35rem;
	padding-right: 35rem;
}
